version: "3.9"

services:
  ansible-controller:
    image: ubuntu:22.04
    container_name: ansible-controller
    environment:
      DEBIAN_FRONTEND: noninteractive
      TZ: America/New_York
    volumes:
      - ./ansible.cfg:/etc/ansible/ansible.cfg
      - ./inventory.ini:/etc/ansible/inventory.ini
      - ./ansible:/ansible
      - ./ssh_keys/id_rsa:/root/.ssh/id_rsa
    command: >
      bash -c "
      apt update &&
      apt install -y tzdata ansible openssh-client python3 python3-pip &&
      chmod 600 /root/.ssh/id_rsa &&
      tail -f /dev/null
      "
    networks:
      - ansible-net

  ubuntu-node1:
    image: ubuntu:22.04
    container_name: ubuntu-node1
    environment:
      DEBIAN_FRONTEND: noninteractive
      TZ: America/New_York
    networks:
      - ansible-net
    volumes:
      - ./ssh_keys/id_rsa.pub:/root/.ssh/authorized_keys
    command: >
      bash -c "
      mkdir -p /root/.ssh &&
      chmod 700 /root/.ssh &&
      apt update &&
      apt install -y tzdata openssh-server python3 &&
      chmod 600 /root/.ssh/authorized_keys &&
      mkdir -p /var/run/sshd &&
      /usr/sbin/sshd -D
      "

  ubuntu-node2:
    image: ubuntu:22.04
    container_name: ubuntu-node2
    environment:
      DEBIAN_FRONTEND: noninteractive
      TZ: America/New_York
    networks:
      - ansible-net
    volumes:
      - ./ssh_keys/id_rsa.pub:/root/.ssh/authorized_keys
    command: >
      bash -c "
      mkdir -p /root/.ssh &&
      chmod 700 /root/.ssh &&
      apt update &&
      apt install -y tzdata openssh-server python3 &&
      chmod 600 /root/.ssh/authorized_keys &&
      mkdir -p /var/run/sshd &&
      /usr/sbin/sshd -D
      "

networks:
  ansible-net:
    driver: bridge
